.fieldset
  Name:
  = @bicycle.name
.fieldset
  Chainring:
  = @bicycle.chainring
.fieldset
  Cog:
  = @bicycle.cog
.fieldset
  Rim:
  = @bicycle.rim
.fieldset
  Tire:
  = number_with_precision(@bicycle.tire, precision: 2)
.fieldset
  Ratio:
  = number_with_precision(@bike.ratio, precision: 2)
.fieldset
  Diameter:
  = number_with_precision(@bike.diameter, precision: 2)
.fieldset
  Gear Inches
  = number_with_precision(@bike.gear_inches, precision: 2)
.fieldset
  Circumference
  = number_with_precision(@bike.circumference, precision: 2)